name: Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_CONVERSION_PARALLELISM: "5"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: earthly/actions/setup-earthly@v1
        with:
          version: latest
      - name: Run Earthly tests
        run: earthly +test
