name: Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_CONVERSION_PARALLELISM: "5"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: earthly/actions/setup-earthly@v1
        with:
          version: latest
      - name: Run Earthly tests
        run: earthly +test
