name: Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_CONVERSION_PARALLELISM: "5"
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - uses: earthly/actions/setup-earthly@v1
        with:
          version: latest
      - name: Run Earthly tests
        run: earthly +test
